name: CI
on:
  push:
jobs:
  scala:
    strategy:
      matrix:
        package: [lib, year2022, year2023, year2024, year2025]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: coursier/cache-action@v7
    - uses: actions/setup-java@v5
      with:
        distribution: corretto
        java-version: 17
    - uses: sbt/setup-sbt@v1
    - uses: sliteteam/github-action-git-crypt-unlock@1.3.0
      env:
        GIT_CRYPT_KEY: ${{ secrets.GIT_CRYPT_KEY }}
    - run: sbt -v "+test:testOnly org.lemon.advent.${{ matrix.package }}.*"

  python:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version: '3.10'
        cache: pip
    - uses: sliteteam/github-action-git-crypt-unlock@1.3.0
      env:
        GIT_CRYPT_KEY: ${{ secrets.GIT_CRYPT_KEY }}
    - run: pip install -r requirements.txt
    - run: pytest
